body {
    background: rgb(58, 58, 58);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, Sans-serif;
    margin: 0;
    padding: 0;
}
p {
    color: white;
    font-size: 20;
    padding: 20px;
}
section {
    background: black;
    color: gray;
    padding: 20px;
    display: flex:
}
header {
    background: black;
    background-image: url("images/Tim.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20px;
    height: 300px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.feature-1 {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.feature-1.close div {
    background: red;
    color: white;
}
div {
    background: black;
    margin: auto;
    width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    padding: 2px;
    margin-right: 20px;
}
li:hover {
    background-color: gold;
    text-decoration: underline;
}
h1 {
    color: rgb(255, 99, 71);
}
h2 {
    color: rgb(255, 99, 71);
}
a {
    text-decoration: none;
}
footer {
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
}
